


* {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body {
    
}

/* top heading */


.top-background {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url(./Images/food-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sign-up-in {
    width: 100%;
    text-align: right;
}

.sign-up-in a {
    text-decoration: none;
    color: white;
    font-size: 45px;
}


.sign-up-in a:hover {
    text-decoration: underline;
}

/* nav bar and logo */
.heading {
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url(./Images/food-wallpaper.jpg);
    background-size: cover; */

}



.logo-nav{
    /* background-color: aqua; */
    text-align: center;
    
    
}

.logo {
    border-radius: 50%;
    height: 250px;
}


.logo-nav h1 {
    color: white;
    font-size: 45px;
    text-decoration: underline;
}




/* nav bar */
nav {
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-1 {
    font-weight: 800;
    font-size: 35px;
    margin-top: 50px;
    
    
}

.navbar-1 a {
    text-decoration: none;
    color: white;
    font-size: 45px;
    text-shadow: 100px;
}

.navbar-1 a:hover {
    text-transform: uppercase;
    text-decoration: underline;

}






/*  */
/* Plot-Body */

.plot-row-1 {
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    /* background-image: url(./Images/food-wallpaper.jpg); */
    background-size: cover ;
    background-attachment: fixed;
    height: 600px;
    margin: 50px;
}



.plot-row-left {
    background-color: hotpink;
    width: 40%;
    margin: 40px 80px;
    

}

.plot-row-left img {
    width: 100%;
    height: 100%;
    

    
}

.SlideShow {
    height: 400px;
}


.plot-row-right {
    background-color: rgba(245, 245, 245, 0.768);
    width: 60%;
    text-align: center;
    
    
}

.plot-right-text, p {
    /* margin-top: 25%; */
    font-weight: 400px;
    font-size: 40px;
    margin: 60px;

}


.plot-row-right button {
    height: 100px;
    width: 200px;
    border-radius: 30% ;
    border: none;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(131, 125, 125, 0.542);

}

.plot-row-right button a {
    /* text-decoration: none; */
    color: rgb(0, 0, 0);
}


/* reviews */

.reviews {
    /* background-image: url(./Images/far-hd.jpg); */
    background-size: cover;
    text-align: center;
    height: 900px;
}

.reviews h2 {
    color: white;
    /* margin-top: 50px; */
    height: 100px;
    font-size: 80px;
    margin-top: 50px;
    text-decoration:underline;
}



/* review boxes */

.reviews {
    height: 800px;
}

.content {
   
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 5vh;
}

.content img{
    height: 200px;
    border-radius: 50%;
}

.reviews-leftbox, .reviews-rightbox {
    background-color: rgba(255, 246, 246, 0.733);
    margin: 50px;
    border: none;
    
}


/* Social media */





.social {
    width: 100%;
    margin: 50px;
    
    
}

.icon-links {
    width: 100%;
    font-size: 95px;
    display: flex;
    justify-content: space-evenly;
    
}

.icon-links ion-icon:hover {
    color: rgb(69, 69, 239);
}





/* contact us */

.customer-message {
    height: 800px;
}


.contact-us {
    text-align: center;
    margin-top: 20px;
    
}

.contact-form {
    height: 400px;
    
}


.contact-list {
    
}

.contact-list li {
    margin-top: 50px;
    font-size: 45px;
}

.contact-list input {
    height: 100px;
    width: 400px;
    border-radius: 20%;
}

.contact-form h2 {
    font-size: 65px;
}
















