/* Make your login page more unique! Don't make it too identical to your signup page! */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("countryside.jpg");
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    border: 5px solid black;
}

.login-container{
    width: 700px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
}

.login-input{
    margin-top: 50px;
    
}