/* Make your login page more unique! Don't make it too identical to your signup page! */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("countryside.jpg");
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    border: 5px solid black;
}

.login-container{
    width: 700px;
    height: 300px;
    padding-left: 100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 25px;
}

.loginInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: inherit;    
    padding: 80px;
}

.other-inputs{
    margin-bottom: 100px;
    display: block;
    justify-content: center;
}

