*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.title{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.info-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.info-container button{
    margin-top: 50px;
    padding: 10pt;
    font-size: 20pt;
}

.image-div{
    background-image: url("assets/images/grill.gif");
    width: 50%;
    background-color: black;
    background-size: cover;
    background-position: center;
}


.info-wrapper{
    background-image: url("assets/images/plaid-wallpaper.jpg");
    display: flex;
    height: inherit;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-format{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
}
.info-input{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}


#manager{
    width: 20px;
    height: 20px;
    margin-right: 250px;
}

#log-link{
    width: 20px;
}

#submitButton{
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 10pt;
    margin: 0 auto;
    margin-top: 10pt;
    text-align: center;
    justify-content: center;
}

input{
    width: 200pt;
    margin: 20px 0 0 20px; 
}