*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("plaid-wallpaper.jpg");
}

.title{
    text-align: center;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.info-container{
    padding: 50px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 300pt;
}

.info-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-container button{
    margin-top: 50px;
}