* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-table {
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    border: 2px solid rgb(166, 166, 166);
}

.cart-item>* {
    padding: 10px;
}

.item-img {
    width: 200px;
    height: 100px;
    display: block;
}