* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

nav>li {
    list-style: none;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

header>nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(225, 225, 225);
    padding: 10px;
}

.title {
    padding: 5px;
}

.order-info-section {
    padding: 10px;
    margin: 10px 1%;
    background-color: rgb(225, 225, 225);
}

.flexable-spacebetween {
    display: flex;
    justify-content: space-between;
}

.order-payment-method {
    display: flex;
    justify-content: flex-end;
}

.order-cart-wrapper {
    width: 510px;
    background-color: rgb(155, 155, 155);
    padding: 5px;
}

.order-cart--title {
    text-align: center;
}

.order-cart {
    background-color: rgb(225, 225, 225);
    overflow: scroll;
    width: 500px;
    height: fit-content;
    max-height: 400px;
}

.order-cart:first-child {
    margin-top: 5px;
}

.order-cart .order {
    margin-bottom: 5px;
}

.order table {
    width: 100%;
}

.cart-sum {
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

.item-name {
    width: 50%;
}

.item-price {
    width: 25%;
}

.item-price {
    width: 25%;
}