body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/profile/food-wallpaper.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



nav {

    display: flex;
    justify-content: space-around;

}

.container {
    background-color: white;
    margin: 10px;
}


.navbar-1 {

    font-weight: 800;
    font-size: 35px;
    padding-top: 50px;


}

.navbar-1 a {
    text-decoration: none;
    color: white;
    font-size: 45px;
    text-shadow: 100px;
}

.navbar-1 a:hover {
    text-transform: uppercase;
    text-decoration: underline;

}


/* profile detail body/plot */

.user-profile {
    display: flex;
    flex-wrap: wrap;
}

.profile-title {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

.user-profile img {
    /* float: left; */
    border-radius: 50%;
    height: 30vh;
    padding-top: 10vh;
    flex: 0 0 auto;
}


.detail {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    padding-top: 3vh;
    font-size: 3vh;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* user links */

.user-row h1 {}

.box-section {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;


}

.box {
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
    width: 50vh;

}

.box p {
    font-weight: 900;
    font-size: 3vh;
}

.box--order-history {
    flex: 0 1 400px;
    padding: 5px;
    margin: 0 10px 10px 0;
}


@media only screen and (max-width:768px) {



    .navbar-1 a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        text-shadow: 100px;
    }


}